<footer class="footer1">
  <div class="div-block-footer1 hauptfarbe">
    <div class="div-mit-wei-er-schrift">
      <h5 class="small-heading heading-1">Kontakt</h5>
      <div class="_1 flie-text">
        <a href="tel:0176/88778877" class="link w-inline-block">
          <p class="telefonnummer1 flie-text">Festnetz: 0176/88778877</p>
        </a>
        <a href="mailto:kontakt@muchandy.de" class="link w-inline-block">
          <p class="email flie-text">E-Mail: kontakt@muchandy.de</p>
        </a>
      </div>
    </div>
    <div class="div-mit-wei-er-schrift">
      <h5 class="small-heading heading-1">Anschrift</h5>
      <p class="adresse flie-text">Luisenstraße 1, 80333 München</p>
    </div>
    <div class="div-mit-wei-er-schrift">
      <p class="impdat1">
        <a href="impressum.html" class="link-impdat flie-text">Impressum</a>
        <a href="datenschutz.html" class="link-impdat flie-text">Datenschutz</a>
      </p>
    </div>
  </div>
</footer>
