<header class="navbar1">
  <div class="div-block-170">
    <div class="kontakt-info-navbar">
      <p class="paragraph-links flie-text no-margin">
        Reparatur &amp; Tarifberatung
      </p>
      <a
        href="tel:0176/88778877"
        class="kontakt-info-div w-inline-block"
        aria-label="Telefonnummer für Reparatur und Tarifberatung"
      >
        <img
          src="images/telephone-call.webp"
          loading="lazy"
          alt="Telefon"
          class="small-icon invert big"
        />
        <p class="paragraph-links flie-text no-margin">0176/88778877</p>
        <div
          class="lottie-animation"
          data-w-id="c381cd64-2b23-2d5a-931b-2cdc6f03d552"
          data-animation-type="lottie"
          data-src="documents/animation_lkz88lbe.json"
          data-loop="1"
          data-direction="1"
          data-autoplay="1"
          data-is-ix2-target="0"
          data-renderer="svg"
          data-default-duration="2.4166666666666665"
          data-duration="0"
        ></div>
      </a>
    </div>
  </div>

  <div class="nav">
    <a
      href="/"
      aria-current="page"
      class="logo w-inline-block"
      aria-label="Zur Startseite"
    >
      <h1 class="heading-logo">mucHANDY Logo</h1>
      <img
        src="images/attachment_2.webp"
        width="126"
        sizes="(max-width: 479px) 35vw, (max-width: 991px) 20vw, 10vw"
        loading="lazy"
        alt="mucHANDY Logo"
        srcset="
          images/attachment_2-p-500.webp   500w,
          images/attachment_2-p-800.webp   800w,
          images/attachment_2-p-1080.webp 1080w,
          images/attachment_2.webp        1500w
        "
        class="logo-img"
      />
    </a>

    <div class="navbar hauptfarbe navbar-2 w-nav" role="banner">
      <nav role="navigation" class="nav-menu-3 w-nav-menu">
        <!-- Main navigation items -->
        <a
          href="/termin-vereinbaren"
          class="nav-link-3 flie-text w-nav-link"
          aria-label="Termin vereinbaren"
        >
          Termin vereinbaren
        </a>

        <!-- Reparatur wählen Dropdown -->
        <div
          class="navlink-dropdown w-dropdown"
          data-hover="true"
          data-delay="0"
        >
          <div
            class="nav-link-3 flie-text dropdown w-dropdown-toggle"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="w-icon-dropdown-toggle"></div>
            <a href="/reparatur-wahlen" class="link-9">Reparatur wählen</a>
          </div>
          <nav class="navlink-dropdown-list w-dropdown-list">
            <a
              href="/reparatur-wahlen/iphone"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >iPhone</a
            >
            <a
              href="/reparatur-wahlen/ipad"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >iPad</a
            >
            <a
              href="/reparatur-wahlen/samsung"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >Samsung</a
            >
            <a
              href="/reparatur-wahlen/google-pixel"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >Google</a
            >
            <a
              href="/reparatur-wahlen/huawei"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >Huawei</a
            >
            <a
              href="/reparatur-wahlen/xiaomi"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >Xiaomi</a
            >
            <a
              href="/reparatur-wahlen/htc"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >HTC</a
            >
            <a
              href="/reparatur-wahlen/sony"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >Sony</a
            >
            <a
              href="/reparatur-wahlen/iwatch"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >iWatch</a
            >
            <a
              href="/reparatur-wahlen/mainboard-logicboard-platinen-reparatur"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >Platinen/Logicboard Reparatur</a
            >
          </nav>
        </div>

        <!-- Tarifberatung Dropdown -->
        <div
          class="navlink-dropdown w-dropdown"
          data-hover="true"
          data-delay="0"
        >
          <div
            class="nav-link-3 flie-text dropdown w-dropdown-toggle"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="w-icon-dropdown-toggle"></div>
            <a href="/tarifberatung" class="link-9">Tarifberatung</a>
          </div>
          <nav class="navlink-dropdown-list w-dropdown-list">
            <a
              href="/tarifberatung/vodafone"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >Vodafone</a
            >
            <a
              href="/tarifberatung/telekom"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >Telekom</a
            >
            <a
              href="/tarifberatung/o2"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >O2</a
            >
            <a
              href="/tarifberatung/wertgarantie"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >Wertgarantie</a
            >
            <a
              href="/tarifberatung/m-net"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >M-Net</a
            >
          </nav>
        </div>

        <!-- Kontakt Dropdown -->
        <div
          class="navlink-dropdown w-dropdown"
          data-hover="true"
          data-delay="0"
        >
          <div
            class="nav-link-3 flie-text dropdown w-dropdown-toggle"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="w-icon-dropdown-toggle"></div>
            <a href="/kontakt" class="link-9">Kontakt</a>
          </div>
          <nav class="navlink-dropdown-list w-dropdown-list">
            <a
              href="/partner"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >Partner</a
            >
          </nav>
        </div>

        <!-- Anfahrt Link -->
        <a
          href="/anfahrt"
          class="nav-link-3 flie-text w-nav-link"
          aria-label="Anfahrt"
          >Anfahrt</a
        >

        <!-- Shop Dropdown -->
        <div
          class="navlink-dropdown w-dropdown"
          data-hover="true"
          data-delay="0"
        >
          <div
            class="nav-link-3 flie-text dropdown w-dropdown-toggle"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="w-icon-dropdown-toggle"></div>
            <a href="/leistungen" class="link-10">Shop</a>
          </div>
          <nav class="navlink-dropdown-list w-dropdown-list">
            <a href="#" class="nav-link-3 flie-text submenu w-dropdown-link"
              >Smartphones</a
            >
            <a href="#" class="nav-link-3 flie-text submenu w-dropdown-link"
              >Tablets</a
            >
            <a href="#" class="nav-link-3 flie-text submenu w-dropdown-link"
              >Laptops und Notebooks</a
            >
            <a href="#" class="nav-link-3 flie-text submenu w-dropdown-link"
              >Zubehör</a
            >
            <a
              href="/shop/gebrauchte-smartphones-munchen"
              class="nav-link-3 flie-text submenu w-dropdown-link"
              >Gebrauchte Smartphones München</a
            >
          </nav>
        </div>
      </nav>

      <!-- Mobile Menu Button -->
      <div class="menu-button w-nav-button" aria-label="Menü öffnen">
        <div class="icon-6 w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</header>
