<header class="navbar1">
  <div class="div-block-170">
    <div class="kontakt-info-navbar">
      <p class="paragraph-links flie-text no-margin">
        Reparatur & Tarifberatung<br />
      </p>
      <a href="tel:0176/88778877" class="kontakt-info-div w-inline-block">
        <img
          src="images/telephone-call.webp"
          loading="lazy"
          alt="Phone"
          class="small-icon invert big"
        />
        <p class="paragraph-links flie-text no-margin">0176/88778877</p>
      </a>
    </div>
    <div class="nav">
      <a href="index.html" class="logo w-inline-block">
        <h1 class="heading-logo">mucHANDY</h1>
        <img
          src="images/attachment_2.webp"
          width="126"
          alt="Logo"
          class="logo-img"
        />
      </a>
      <nav class="nav-menu-3 w-nav-menu">
        <a
          href="termin-vereinbaren.html"
          class="nav-link-3 flie-text w-nav-link"
          >Termin vereinbaren</a
        >
        <a href="reparatur-wahlen.html" class="nav-link-3 flie-text w-nav-link"
          >Reparatur wählen</a
        >
        <a href="tarifberatung.html" class="nav-link-3 flie-text w-nav-link"
          >Tarifberatung</a
        >
        <a href="kontakt.html" class="nav-link-3 flie-text w-nav-link"
          >Kontakt</a
        >
        <a href="anfahrt.html" class="nav-link-3 flie-text w-nav-link"
          >Anfahrt</a
        >
      </nav>
    </div>
  </div>
</header>
